<div class="general">
  <h1><%= @food.title %></h1>
  <p><%= @food.body %></p>
  <img src="<%= @food.image %>" alt="">
</div>
<a href="/<%= @food.id %>/edit">edit</a>

<form action="<%= @food.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="name" value="Delete">
</form>
