<form action="/<%= @food.id %>" method="POST">

  <div class="inputBox">
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter a title" value="<%= @food.title %>">
  </div>
  <div class="inputBox">
    <label>Body</label>
    <textarea name="body" rows="8" cols="80" placeholder="The body of post"><%= @food.body %></textarea>
  </div>
  <div class="inputBox">
    <label>Image</label>
    <textarea name="name" rows="8" cols="80" value="<%= @food.image %>"><%= @food.image %></textarea>
  </div>
  <div class="inputBox">
      <input type="submit" value="Save Post">
  </div>

  <% if (@food.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
